/* add table css */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0px;
}

table th {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}