<tr *ngIf="contact" [formGroup]="contactForm">
    <!-- <td>{{contact._id}}</td> -->
    <td>
        <span *ngIf="!editMode">{{contact.name}}</span>
        <span *ngIf="editMode">
            <input type="text" formControlName="name"/>
        </span>
    </td>
    <td>
        <span *ngIf="!editMode">{{contact.phone}}</span>
        <span *ngIf="editMode">
            <input type="text" formControlName="phone"/>
        </span>
    </td>
    <td>
        <span *ngIf="!editMode">{{contact.address}}</span>
        <span *ngIf="editMode">
            <input type="text" formControlName="address"/>
        </span>
    </td>
    <td>
        <span *ngIf="!editMode">{{contact.notes}}</span>
        <span *ngIf="editMode">
            <input type="text" formControlName="notes"/>
        </span>
    </td>
    <td>
        <div *ngIf="!contact.isLocked">
            <!-- action when edit mode is off -->
            <button *ngIf="!editMode" type="button" class="button mr" (click)="onEdit()">edit</button>
            <button *ngIf="!editMode" type="button"  class="button danger--text" (click)="onDelete()">delete</button>
            
            <!-- actions when edit mode is on -->
            <button *ngIf="editMode" type="button" class="button mr"  (click)="onEditSubmit()">save</button>
            <button *ngIf="editMode" type="button" class="button mr"  (click)="onEditCancel()">cancel</button>
        </div>
        <div *ngIf="contact.isLocked" style="color: grey" class="my">
            <i class="material-icons" style="font-size: 1em; margin-right: 5px;">lock</i>
            <span>Locked</span>
        </div>
    </td>
</tr>
<app-confirm-dialog *ngIf="isDeleteDialogShown" (close)="onDeleteConfirm($event)"></app-confirm-dialog>