<nav>
    <h1 class="nav-title" style="display: flex; align-items: center;">
        <i class="material-icons" style="font-size: 1.1em; margin-right: 10px;">import_contacts</i>
        My Contacts
    </h1>
    <div style="display: flex; align-items: center;">
        <div style="display: flex; align-items: center; font-size: 18px;" class="mr">
            <i class="material-icons" style="font-size: 1.3em; margin-right: 5px;">account_circle</i>
            {{currentUser?.username}}
        </div>
        <button class="button" (click)="onLogout()">Logout</button>
    </div>
</nav>
<div class="container">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <button class="button button-primary my" (click)="onAddContact()">
            <i class="material-icons" style="font-size: 1.1em; margin-right: 5px;">person_add</i>
            Add New Contact
        </button>
    </div>
    <div>
        <form [formGroup]="filterForm">
            <div style="display: flex;">
                <div style="display: flex; align-items: center;" class="search-box mr">
                    <i class="material-icons" style="font-size: 1.1em; margin-right: 5px;">search</i>
                    <input class="search-input" type="text" placeholder="Name" formControlName="name">
                </div>
                <div style="display: flex; align-items: center;" class="search-box mr">
                    <i class="material-icons" style="font-size: 1.1em; margin-right: 5px;">search</i>
                    <input class="search-input" type="text" placeholder="Phone" formControlName="phone">
                </div>
                <div style="display: flex; align-items: center;" class="search-box mr">
                    <i class="material-icons" style="font-size: 1.1em; margin-right: 5px;">search</i>
                    <input class="search-input" type="text" placeholder="Address" formControlName="address">
                </div>
                <div style="display: flex; align-items: center;" class="search-box mr">
                    <i class="material-icons" style="font-size: 1.1em; margin-right: 5px;">search</i>
                    <input class="search-input" type="text" placeholder="Notes" formControlName="notes">
                </div>
                <button type="button" class="button button-primary" (click)="onFilterSubmit()">
                    filter
                </button>
                <button type="button" class="button" (click)="onFilterClear()">
                    clear
                </button>
            </div>
        </form>
    </div>
    <app-contacts-list
        [contacts]="contacts"
        (deleted)="onContactDeleted($event)"
        (updated)="onContactUpdated($event)"
        ></app-contacts-list>

    <div style="display: flex; justify-content: flex-end; align-items: center;">
        <button class="button" type="button" (click)="decrementPage()">previous page</button>
        <span style="margin: 0 10px;">page {{ page }} of {{ totalPages }}</span>
        <button class="button" type="button" (click)="incrementPage()">next page</button> 
    </div>
    <app-contact-add-dialog *ngIf="isAddContactDialogShown" (close)="onCloseAddDialog($event)"></app-contact-add-dialog>
</div>